# ESP-IDF
sdkconfig
sdkconfig.old
build/

# VS Code
.vscode/

# Secret/config
.env
*.key
*.pem

# AWS IoT credentials
components/my_mqtt/src/Cert/private.pem
components/my_mqtt/src/Cert/certificate.pem